body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
    background-color: #e7d9ea;
    display: flex;
    flex-direction: column;
}

section {
    max-width: 800px;
    margin: auto;
}


